<header>
	<h2>OnePageEnterprises</h2>
	<div class="login" ng-show="log.logOn" ng-hide="log.logOff">
		<h3>
			{{user.data[0].login}} logado 
		</h3>
		<a ng-click="log.exit()">Sair</a>
	</div>
	<div ng-hide="log.logOn" ng-show="log.logOff">
		<form id="frmLogin" class="loginForm">
			<div class="line">
				<input type="text" id="username" placeholder="Usuário" size="20" class="" ng-model="log.login"/>
			</div>
			<div class="line">
				<input type="password" id="password" placeholder="Senha" size="20" class="" ng-model="log.pass" ng-keypress="$event.keyCode == 13 && log.loginAction()"/>
			</div>
			<div class="line">
				<div class="commands">
					<div id="login" ng-click="log.loginAction()">Entrar</div>
				</div>
			</div>
		</form>
	</div>
</header>